* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: royalblue;
    width: 100%;
    overflow: hidden;
}

#navbarSupportedContent a:hover {
    background-color: white;
}

/* button {

} */

.container {
    height: 100vh;
    /* text-align: center; */
    
    /* background-image:url(../Media/Images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-color: grey;
    color: rgb(0, 0, 0);
    overflow: hidden; */
}

#homePage {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1;
}

.homepage-text {
    /* margin-top: 10vh;     */
    max-width: 600px;
}

.homepage-text h1 {
    margin-bottom: 10px;
    font-size: 57px;
    color: royalblue;
    font-weight: 500;
}

.square-1 {
    width: 15px;
    height: 15px;
    background-color: royalblue;
    display: inline-block;
    margin: 15px;
}

.homepage-text h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.homepage-text h3 {
    margin-bottom: 30px;
    font-size: 30px;
}


#container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
input[type="text"] {
    width: 410px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid royalblue;
    border-radius: 5px;
    margin-bottom: 7px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#addBtn {
    background-color: royalblue;
    color: white;
    width: 200px;
    height: 50px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 8px;
}
#addBtn:hover {
    color: royalblue;
    background-color: white;
    border: 1px solid royalblue;
    transition: .3s;
}

#deleteBtn {
    background-color: white;
    color: royalblue;
    width: 200px;
    height: 50px;
    margin: 3px;
    border: 1px solid royalblue;
    border-radius: 8px;
}

#deleteBtn:hover {
    color: white;
    background-color: royalblue;
    border: 1px solid white;
    transition: .3s;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}

/* Mediua Queries */
@media screen and (min-width: 320px) and (max-width: 480px){
    /* styles */
    #homePage {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1;
    }
    
    .homepage-text {
        /* margin-top: 10vh;     */
        max-width: 150px;
    }
    
    .homepage-text h1 {
        /* margin-bottom: 10px; */
        font-size: 20px;
        color: royalblue;
        font-weight: 100;
    }
    .homePage-pics img {
        width: 200px;
    }
    .square-1 {
        width: 5px;
        height: 5px;
        background-color: royalblue;
        display: inline-block;
        margin: 5px;
    }
    
    .homepage-text h2 {
        /* margin-bottom: 10px; */
        font-size: 15px;
    }
    
    .homepage-text h3 {
        /* margin-bottom: 30px; */
        font-size: 10px;
    }
    input[type="text"] {
        width: 110px;
        padding: 5px;
        /* margin-right: 10px; */
        border: 1px solid royalblue;
        border-radius: 5px;
        margin-bottom: 3px;
    }
    button {
        padding: 3px 5px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    #addBtn {
        background-color: royalblue;
        color: white;
        width: 100px;
        height: 30px;
        margin: 3px;
        border: 1px solid white;
        border-radius: 8px;
    }

    #deleteBtn {
        background-color: white;
        color: royalblue;
        width: 100px;
        height: 30px;
        margin: 3px;
        border: 1px solid royalblue;
        border-radius: 8px;
    }
    
    }